body {
  font-family: 'Montserrat', sans-serif;
  color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}


/* Navbar */
.navbar {
  background: #ea9abb;
  border: none;
  color: black;
}


h1 {

}

.grid-container {
  columns: 5 200px;
  column-gap: 1.5rem;
  width: 90%;
  margin: 0 auto;
  
  div {
    width: 150px;
    margin: 0 1.5rem 1.5rem 0;
    display: inline-block;
    width: 100%;
    border: solid 2px black;
    padding: 5px;
    border-radius: 5px;
  }
}

img {
      width: 100%;
      border-radius: 5px;
}

.grid-item {
    width: 150px;
    margin: 0 1.5rem 1.5rem 0;
    display: inline-block;
    width: 100%;
    padding: 5px;
  }



