@import url('https://fonts.googleapis.com/css?family=Bellota+Text&display=swap');

/* Page */
* {
  font-family: 'Bellota Text', cursive;
  color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


/* Navbar */
.navbar {
  background: #70bdac;
  border: none;
  color: black;
}

a {
  color: black !important;
  text-decoration: none;
}

.active a {
  background: #70bdac !important;
  color: white !important;
}

a:hover {
  background: #70bdac !important;
  color: white !important;

}




/* Grid */
.grid-container {
  columns: 4 400px;
  column-gap: 1.5rem;
  width: 95%;
  margin: 0 auto;
}

img {
  width: 100%;
  border-radius: 5px;
}

.grid-item {
  width: 400px;
  margin: 0 1.5rem 1.5rem 0;
  display: inline-block;
  width: 100%;
  padding: 5px;
}
